<!DOCTYPE html>
<html>
    <head>
    <%= render 'header' %>
    </head>
    <body>
    <% @mode = "password_confirm"%>
    <%= render 'body', locals: { school: @school, user: @user, url_token: @url_token, mode: @mode} %>
    </body>
</html>