<h2>Welcome to eLearning website</h2>
This is the backend part of the website. To navigate on the website click on the following link <br>
<%= link_to "eLearning website", "https://e-learning.com" %>
